/*!
Tutorial CSS

CSS for Growl, and Selectable ported from previous work
and will need a slight bit of work to ensure IE8 compatibility (primarily
in the use of SVG) as well as to fix old image links.

I may switch to the bootstrap version of growl css, as this needs some cleanup
work on colors regardless.

T2D Red (rgb): 255, 55, 65
T2D Yellow (rgb) : 242 219 0
*/

@media all {

    body {
        background : #ffffff url('../resources/bedge_grunge/bedge_grunge.png') top left repeat;
        font-family: Lato, arial, sans-serif;
        font-weight: 300;
        font-size: 20px;
    }

    body, h1, h2, h3, h4, p {
        color: #333;
    }
    .progress {
        background-color: #fbfbfb !important;
    }
    .carousel-slide-header, .sidebar-header {
        background : #ffffff;
        border-bottom: 1px solid #eee;
        box-shadow: 0px 0px 5px 0px #ddd;
        height: 85px;
    }
    .sidebar-header {
        text-align: center;
    }
    .carousel-slide-header, .sidebar-header, .carousel {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    textarea { min-height: 300px; }
    .progress-bar-red {
        background-color: rgba(255, 55, 65, 0.25) !important;
    }
    .progress-bar-blue {
        background-color: rgba(96, 112, 135, 0.75) !important;
    }
    .progress-bar-grey {
        background-color: rgba(235, 235, 235, 0.75) !important;
        color: #777 !important;
        font-weight: 500;
    }
    .progress-bar-yellow {
        background-color: rgba(255, 245, 0, 0.25) !important;
        color: #999 !important;
        font-weight: 500;
    }
    .logoImg {
        height: 50px;
    }
    .inlineLogo {
        height: 1.25em;
        margin: 0 5px;
        display: inline-block;
    }
    .logoText {
        width: 100%;
        position: relative;
        display: block;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 3px;
    }
    .giantActionButton {
        font-size: 30px;
        font-weight: 300;
    }
    .backButton {
        border-radius: 0px;
        padding-left: 25px;
        font-weight: 300;
        font-size: 18px;
        color: #bbb;
        background-color: #f5f5f5;
        background-image: url('../resources/harshLeft.png');
        background-repeat: no-repeat;
        background-size: 15px 15px;
        background-position: left center;
        border: 1px solid #f0f0f0;
        border-top: none;
    }
    .backButton:hover, .backButton:focus, .backButton:active {
        background-color: #f0f0f0;
        border-color: #e8e8e8;
        color: #aaaaaa;
    }
    .continueButton {
        font-size: 20px;
        font-weight: 300;
        border-radius: 3px;
        padding-right: 35px;
        background-image: url('../resources/harshRight.png');
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: right center;
    }
    .blue-button {
        background-color: rgb(96, 112, 135);
        border: 1px solid rgb(86, 100, 120);
    }
    .blue-button:hover, .blue-button:focus, .blue-button:active, .blue-button.active {
        background-color: rgb(86, 100, 120);
        border-color: rgb(76, 90, 110);
    }
    .blue-text {
        color: rgb(96, 112, 135);
    }
    .drop-top {
        box-shadow: 0px 4px 10px 0px #000;
        border-top: 1px solid #eee;
    }
    .live-support-button {
        font-size: 24px;
        font-weight: 400;
        padding: 15px 65px 15px 20px;
        border-radius: 8px;
        text-shadow: 1px 1px 1px #53b56a;
        border: 2px solid #69bf7d;
        background: #7ec88f url('../resources/chat.png') right center no-repeat;
    }
    .live-support-button:hover, .live-support-button:focus, .live-support-button:active {
        background: #53b56a url('../resources/chat.png') right center no-repeat;
        border-color: #69bf7d;
    }

    .top-buffer { margin-top: 45px; }
    .bottom-buffer { margin-bottom: 45px; }

    .mainPointImage {
        height: 60px;
    }
    .bg-fill-lightgrey {
        background-color: #f5f5f5;
    }

    .bg-fill-white {
        background-color: #fff;
    }
/*
----- GROWL -----
*/
.growlNotifications {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 999; /*must be highest element on page*/
}

.growlNotification {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    right: 1rem;
    width: 21.5rem;
    height: 5.5rem;
    line-height: 1rem;
    padding: .25rem;
    border: .15rem solid rgba(250,250,250,.5);
    border-radius: .2rem;
    background-color: rgba(50, 50, 50, 0.75);
    color: #fff;
    font-size: .7rem;
    font-family: 'Lato', sans-serif;
    box-shadow: 0px 0px 15px -5px rgb(0, 0, 0);
    transition: opacity 2s ease-out, top .5s ease-out, right .5s ease-out;
}

.notificationText {
    font-weight: 400;

}

.notificationTitle {
    font-weight: 700;
    text-shadow: 1px 1px 4px rgba(100, 100, 100, 0.5);
    font-size: .85rem;
}

.growlNotification.error {
    background-color: rgba(206,10,10, 0.75);
    border-color: rgba(206,10,10, 0.5);
    color: #fff;
}
.growlNotification.error:hover {
    border-color: rgba(206,10,10, 0.25);
}
.growlNotification.failure {
    background-color: rgba(255, 113, 95, 0.75);
    border-color: rgba(255, 113, 95, 0.5);
    color: #000;
}
.growlNotification.failure:hover {
    border-color: rgba(255, 113, 95, 0.25);
}
.growlNotification.warning {
    background-color: rgba(255,238,112, 0.75);
    border-color: rgba(255,238,112, 0.5);
    color: #444;
}
.growlNotification.warning:hover {
    border-color: rgba(255,238,112, 0.25);
}
.growlNotification.success {
    background-color: rgba(83,181,106, 0.75);
    border-color: rgba(83,181,106, 0.5);
    color: #fff;
}
.growlNotification.success:hover {
    border-color: rgba(83,181,106, 0.25);
}
.growlNotification.info {
    background-color: rgba(0,121,193, 0.75);
    border-color: rgba(0,121,193, 0.5);
    color: #fff;
}
.growlNotification.info:hover {
    border-color: rgba(0,121,193, 0.25);
}
.growlNotification.general {
    background-color: rgba(50, 50, 50, 0.75);
    border-color: rgba(50, 50, 50, 0.5);
    color: #fff;
}
.growlNotification.general:hover {
    border-color: rgba(50, 50, 50, 0.25);
}
.growlNotification.loading, .growlNotification.loadCompleted {
    height: 1.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: #ddd;
    border-width: 1px;
    border-radius: 2px;
    width: 10.75rem;
    box-shadow: 0px 0px 5px -5px rgba(0, 0, 0, 0.5);
}
.growlNotification.loading .notificationTitle, .growlNotification.loadCompleted .notificationTitle {
    text-shadow: none;
    font-weight: 100;
    color: #aaa;
}
.growlNotification.loading:hover {
    border-color: #bbb;
}
.growlNotification.loadCompleted .icon {
    background: url('../resources/check.svg') center center / .75rem .75rem no-repeat;
}
.growlNotification.loading .icon {
    background: url('../resources/ajax-loader.gif') center center / .75rem .75rem no-repeat;
}

.growlNotification.is-opaque {
    opacity: 1;
}

.growlNotification:hover {
    border-color: rgba(250, 250, 250, 0.25);
}

.growlNotification.closed {
    display: none;
}

.growlNotification .icon {
    display: block;
    float: left;
    position: relative;
    width: 1rem;
    height: 1rem;
}

.growlNotification .closeNotification {
    display: none;
    position: absolute;
    top: -.75rem;
    right: -.75rem;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    border-radius: .75rem;
    font-size: .75rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: #444;
}

.growlNotification:hover .closeNotification {
    display: block;
}
.growlNotification.closed:hover, .growlNotification:hover {
    display: block;
    opacity: 1;
}



.selectableList {
    display: inline-block;
    position: relative;
    margin: 1em;
}
.selectableGroup {

}
.selectableGroupLabel {

}
.selectableGroupLabel {
    cursor: default;
    background-color: #cfcfcf;
    font-size: .8rem;
    font-weight: 700;
    color: #000;
    padding: 0 .5rem;
}
.dark .selectableGroupLabel {
    background-color: #000;
    color: #fff;
}
.selectableItem, .selectableGroupLabel{
    min-width: 2.5rem;
    height: 2rem;
    line-height: 2rem;
    text-align: left;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selectableItem {
    cursor: pointer;
    background-color: #fbfbfb;
    color: #444;
    font-weight: 300;
    font-size: .75rem;
    border-bottom: .1rem solid #f0f0f0;
    border-top: .1rem solid #ffffff;
    padding: 0 2rem;
}
.dark .selectableItem {
    color: #fff;
    background-color: #444;
    border-bottom: .1rem solid #383838;
    border-top: .1rem solid #484848;
}
.selectableItem.selected {
    background: #f5f5f5 url('../resources/check.svg') .25rem center / 1rem 1rem no-repeat;
}
.dark .selectableItem.selected {
    background: #444 url('../resources/check.svg') .25rem center / 1rem 1rem no-repeat;
}
.selectableItem.selected:hover, .dark .selectableItem.selected:hover {
    background: #ff9090 url('../resources/wrong.svg') .25rem center / .5rem .5rem no-repeat;
}
.selectableItem:hover {
    background-color: #f0f0f0;
}
.dark .selectableItem:hover {
    background-color: #333;
}
.selectableItem:first-of-type {
    border-top: none;
}
.selectableItem:last-of-type {
    border-bottom: none;
}




}




/*
--------------------------[ MARKDOWN ]----------------------
*/
.markdown {
    font-family: Lato, arial, sans-serif;
    line-height: 1.6;}

.markdown > *:first-child {
    margin-top: 0 !important; }
.markdown > *:last-child {
    margin-bottom: 0 !important; }

.markdown a {
    color: #4183C4; }
.markdown a.absent {
    color: #cc0000; }
.markdown a.anchor {
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; }

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative; }

.markdown h1:hover a.anchor, .markdown h2:hover a.anchor, .markdown h3:hover a.anchor, .markdown h4:hover a.anchor, .markdown h5:hover a.anchor, .markdown h6:hover a.anchor {
    text-decoration: none; }

.markdown h1 tt, .markdown h1 code {
    font-size: inherit; }

.markdown h2 tt, .markdown h2 code {
    font-size: inherit; }

.markdown h3 tt, .markdown h3 code {
    font-size: inherit; }

.markdown h4 tt, .markdown h4 code {
    font-size: inherit; }

.markdown h5 tt, .markdown h5 code {
    font-size: inherit; }

.markdown h6 tt, .markdown h6 code {
    font-size: inherit; }

.markdown h1 {
    font-size: 28px;
    color: black; }

.markdown h2 {
    font-size: 24px;
    border-bottom: 1px solid #cccccc;
    color: black; }

.markdown h3 {
    font-size: 18px; }

.markdown h4 {
    font-size: 16px; }

.markdown h5 {
    font-size: 14px; }

.markdown h6 {
    color: #777777;
    font-size: 14px; }

.markdown p, .markdown blockquote, .markdown ul, .markdown ol, .markdown dl, .markdown li, .markdown table, .markdown pre {
    margin: 15px 0; }

.markdown hr {
    border: 0 none;
    color: #cccccc;
    height: 4px;
    padding: 0;
}

.markdown > h2:first-child {
    margin-top: 0;
    padding-top: 0; }
.markdown > h1:first-child {
    margin-top: 0;
    padding-top: 0; }
.markdown > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; }
.markdown > h3:first-child, .markdown > h4:first-child, .markdown > h5:first-child, .markdown > h6:first-child {
    margin-top: 0;
    padding-top: 0; }

.markdown a:first-child h1, .markdown a:first-child h2, .markdown a:first-child h3, .markdown a:first-child h4, .markdown a:first-child h5, .markdown a:first-child h6 {
    margin-top: 0;
    padding-top: 0; }

.markdown h1 p, .markdown h2 p, .markdown h3 p, .markdown h4 p, .markdown h5 p, .markdown h6 p {
    margin-top: 0; }

.markdown li p.first {
    display: inline-block; }
.markdown li {
    margin: 0; }
.markdown ul, .markdown ol {
    padding-left: 30px; }

.markdown ul :first-child, .markdown ol :first-child {
    margin-top: 0; }

.markdown dl {
    padding: 0; }
.markdown dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
.markdown dl dt:first-child {
    padding: 0; }
.markdown dl dt > :first-child {
    margin-top: 0; }
.markdown dl dt > :last-child {
    margin-bottom: 0; }
.markdown dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
.markdown dl dd > :first-child {
    margin-top: 0; }
.markdown dl dd > :last-child {
    margin-bottom: 0; }

.markdown blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777; }
.markdown blockquote > :first-child {
    margin-top: 0; }
.markdown blockquote > :last-child {
    margin-bottom: 0; }

.markdown table {
    padding: 0;border-collapse: collapse; }
.markdown table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
.markdown table tr:nth-child(2n) {
    background-color: #f8f8f8; }
.markdown table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    margin: 0;
    padding: 6px 13px; }
.markdown table tr td {
    border: 1px solid #cccccc;
    margin: 0;
    padding: 6px 13px; }
.markdown table tr th :first-child, .markdown table tr td :first-child {
    margin-top: 0; }
.markdown table tr th :last-child, .markdown table tr td :last-child {
    margin-bottom: 0; }

.markdown img {
    max-width: 100%; }

.markdown span.frame {
    display: block;
    overflow: hidden; }
.markdown span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto; }
.markdown span.frame span img {
    display: block;
    float: left; }
.markdown span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0; }
.markdown span.align-center {
    display: block;
    overflow: hidden;
    clear: both; }
.markdown span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center; }
.markdown span.align-center span img {
    margin: 0 auto;
    text-align: center; }
.markdown span.align-right {
    display: block;
    overflow: hidden;
    clear: both; }
.markdown span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right; }
.markdown span.align-right span img {
    margin: 0;
    text-align: right; }
.markdown span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left; }
.markdown span.float-left span {
    margin: 13px 0 0; }
.markdown span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right; }
.markdown span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right; }

.markdown code, tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px; }

.markdown pre code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent; }

.markdown .highlight pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px; }

.markdown pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px; }
.markdown pre code, pre tt {
    background-color: transparent;
    border: none; }

.markdown sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}
* {
    -webkit-print-color-adjust: exact;
}

}

}
@media print {
    .markdown table, .markdown pre {
        page-break-inside: avoid;
    }
    .markdown pre {
        word-wrap: break-word;
    }
}
